.body-container {
  margin: 0 auto;
  padding: 2em;
  max-width: 50em;
}

.project-item {
  margin: 2em 0;
}

.project-item h3 {
  display: inline-block;
}

.project-item ul {
  list-style: circle;
  list-style-position: inside;
  padding-left: 1em;
}

.project-item p {
  /*padding-left: 1em;*/
  margin-bottom: 1em;
}

.project-link {
  margin-left: 0.5em;
}

#skills ul {
  display: flex;
  flex-flow: wrap;
  margin: 2em 1em;
}

#skills li {
  display: inline-block;
  width: 12em;
}

.experience-item {
  margin: 2em 0;
}

.experience-item ul {
  list-style: circle;
  list-style-position: inside;
  padding-left: 1em;
}

.education-item {
  margin: 2em 0;
}

/*.education-item p {
  padding-left: 1em;
}*/
