.body-container {
  margin: 0 auto;
  padding: 0.3em 2em;
  max-width: 50em;
}

#subtitle {
  color: #0f483b;
  font-weight: bold;
  display: inline-block;
  transition-duration: 0.2s;
}

#subtitle:hover {
  color: #ba4b66;
}
