html, body, header, section, footer, a, img, h1, h2, nav, aside, ul, ol,
li, figure, figcaption, p, form, label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1.5;
}

aside {
  width: 180px;
  display: inline-block;
}

section {
  width: 700px;
  display: inline-block;
}

input[type="radio"], input[type="submit"], select {
  cursor: pointer;
  outline: none;
}

input[type="submit"]:last-child {
  background-color: gold;
}

input:last-child:hover {
  -webkit-filter: brightness(90%);
}

ol li:nth-of-type(2n) {
  display: inline;
  background-color: aqua;
}

h2 + .user_review {
  border-top: 1px solid black;
}

input[type="radio"] {
  background-image: url(./stars.png);
}

img {
  display: inline;
}

nav li {
  display: inline-block;
}

nav li a {
  padding: 20px;
  display: inherit;
}
