html, body, header, section, div, footer, a, h1, h2, h3, h4, img, nav, aside, ul, ol, figure, figcaption, p, form, label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
}
