body {
  /*white*/
  background: #eeeeee;
  /*light-gray*/
  color: #666;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4 {
  /*dark gray*/
  color: #333;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
  border-bottom: 1px solid #333;
}

h4 {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}

a {
  /*light green*/
  color: #28c5a0;
  display: inline-block;
  transition-duration: 0.2s;
}

a:hover {
  /*red*/
  color: #ba4b66;
}

iframe {
  margin-left: 2em;
  pointer-events: none;
}
